body {
    background-color: #798fdaac;
    margin: 0;
      padding: 0;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;


}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,255,0.1);
    border: 1px solid #007bff; 
}
 .center-screen {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          justify-content: center;
          align-items: center;
          text-align: center;
        }

.btn-primary {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-secondary {
  background-color: #95a5a6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #7f8c8d;
}
td {
            padding-left: 1rem;
            padding-right: 1rem;
        }

input {
            text-align: center;
                }

.bevitel{
            padding: 10px;
            border: 2px solid #3498db;
            border-radius: 6px;
            font-size: 16px;
            outline: none;
           color: #3498db;
            }
